# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:     
  workflow_dispatch:
    inputs:
      image:
        description: Image to scan
        required: true
        default: alpine:3.7

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Scan image
        id: scan
        uses: sysdiglabs/scan-action@use-inline-scan-v2 
        with:
          image-tag: "alpine:3.7"
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          ignore-failed-scan: true

      - uses: github/codeql-action/upload-sarif@v1
        if: always()
        with:
          sarif_file: ${{ steps.scan.outputs.sarifReport }}

